.about-us {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    gap: 5rem;
    transform: translate3d(100px,100px,100px);
    padding: 2rem;
    
  }
  
  
  .about-us figure {
    flex-basis: 50%;
    width: 100%;
  }
  
  .about-us figure img {
    width: 100%;
    
    
  }
  
  .about-us aside {
    width: 80%;
    height: 90%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    
  }
  
  .about-us aside blockquote {
    width: 100%;
    display: flex;
   
    flex-direction: column;
    gap: 1rem;
    color: rgb(14, 42, 116);
  }
  
  .about-us aside blockquote h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
  }
  
  .about-us aside blockquote h2 {
    font-weight: 200;
    line-height: 1.5;
  }
  .about-us aside blockquote p {
    font-size:21px ;
  } 
  
  .about-us aside blockquote button {
    background-color: transparent;
    cursor: pointer;
  }
  
  .about-us aside button i {
    font-size: 2rem;
  }
  
  
  
  @media (max-width: 480px) {
    .about-us {
        flex-direction: column;
        height: auto;
        gap: 1rem;
        padding: 20px;
        transform: none;
    }

    .about-us figure {
        width: 100%;
    }

    .about-us aside {
        width: 100%;
        text-align: center;
        align-items: center;
        gap: 1.5rem;
    }

    .about-us aside blockquote h1 {
        font-size: 2rem;
    }

    .about-us aside blockquote h2 {
        font-size: 1rem;
        line-height: 1.3;
    }

    .about-us aside button i {
        font-size: 1.5rem;
    }
}
 
 
  
   
  
  
  