
body {
  background-color:#ecececdc;
  color: rgba(10, 0, 74, 0.995);
}

.metro-container {
  
  width: 100%;
}
.nav-links li a{
  text-decoration: none;
  color: rgb(244, 241, 241);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #180d04c4;
  padding-right: 10px ;
  margin: 1rem 0;
  width: 84%;
  z-index: 3;
  position: absolute;
  right: 9%;
  
  box-shadow: 0 0 0.5rem #04168d;
  
}
.navbar aside{
  position: relative;
}
.logo {
  font-size: 18px;
  font-weight: bold;
 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}


.nav-links li {
  cursor: pointer;
}


.hero-section {
  width: 90%;
  margin: 0 auto;
  background:linear-gradient(to right, #00337c, #002b5c);
 
}
.hero-section figure{

  position: relative;
  width: 100%;
  height:85vh;
  margin: 0 auto;
}

.hero-section figure img{
  width: 100%;
  height: 100%;
}

.hero-content {
  max-width: 500px;
  text-align: left;
 
  position: absolute;
  top: 38%;
  left:5%;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-shadow: 0 0 0.5rem #b8c1ce;
  color: rgb(10, 13, 95);
  right: 25%;
}
.hero-content h3{
  color: rgb(209, 22, 22);
  text-shadow: 0 0 1rem #0f2a94;
}

.hero-content p {
  font-size: 19px;
  margin-bottom: 20px;
  text-shadow: 0 0 2rem #000000;
  color: whitesmoke;
  margin-right: 30%;
  width: 90%;
  
}

.cta-button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cta-button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .hero-section figure {
    height:65vh;
  }

  .hero-content {
    max-width: 40%;
    text-align: left;
    left: 2%;
    
    top: 20%;
  }
  .nav-links{
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    top:1rem;
    left:0;
    background-color: rgba(0, 1, 1, 0.77);
    border: 2px solid black;
    gap: 0;
    display: none;

    
  }
  .nav-links li{
    padding: 0.5rem 1.5rem 0.5rem 0.5rem ;
    font-size: 1rem;
    color: black;
    border-bottom: 1px solid dashed;
    cursor: pointer;
  }
  .nav-links li:hover{
    background-color: rgba(214, 87, 19, 0.901);
  }
 
  .navbar{
    margin: 1rem 0;
    color: white;
  }
  .fa-bars-staggered{
    display: block !important;
  }

  .hero-content h1 {
    font-size: 20px;
  }
  .hero-content h3 {
    font-size: 13px;
  }
  .nav-links li a{
    
    color: rgb(212, 212, 212)
  }

  .hero-content p {
    font-size: 13px;
    
}
  }

  .cta-button {
    font-size: 14px;
    padding: 10px 16px;
    
  }
  .logo img{
    width: 150px !;
  }
